.pastOrderContainer {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url(../img/sticky-note.png);
  align-items: center;
  background-size: contain;
  width: 390px;
  position: relative;
  background-repeat: no-repeat;
  height: 390px;
}
.subContainer {
  display: flex;
  height: 250px;
  width: 300px;
  flex-direction: column;
  margin-left: 5px;
  margin-bottom: 10px;
}
.customDropDown {
  display: flex;
  position: relative;
  flex-direction: column;
}
.itemsDropDown {
  width: 600px;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 5vh;
  left: 0;
  z-index: 1;
  height: 200px;
  overflow-y: scroll;
  box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.7);
  border: 5px solid #ffd796;
  border-radius: 10px;
  background-color: #ffd796;
}
.viewItemsButton {
  outline: none;
  border: 5px solid black;
  border-radius: 10px;
  background-color: black;
  display: flex;
  width: 130px;
  height: 35px;
  font-size: 16px;
  color: white;
  font-weight: 600;

  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.wideInfoContainers {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
}
.itemsInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 67%;
  margin-right: 5px;
  align-items: flex-start;
}
.pastOrderInfo {
  font-size: 16px;

  font-weight: 600;
  margin-top: 0;
  color: black;
  margin-bottom: 0;
}
.viewItemsButton:hover {
  opacity: 0.7;
  cursor: pointer;
}
